.footers{
    background-color: #F2F2F2;
    & a {
        font-size: 14px;
        color:#696969;
        text-decoration: none;
    }
    & p {
        color:#696969;
    }
    & ul {
        line-height:30px;
    }
    &-five{
        & p{
            padding-top: 2.6px;
            font-size: 14px;
            color:#696969;
            line-height: 2;
            text-decoration: none;
        }
        &-image{
            margin-left: 200px;
        }
    } 
} 
.disclaimer{
    @extend .footers;
}
.copyright{
    @extend .footers;
}

