.navbar{
    width: 100%;
    box-shadow: 0px 2px  rgba(0, 0, 0, 0.514);
    background-color: rgba(0, 0, 0, 0.8);
    &__brand{ 
        margin: 0rem  2rem  0rem 2rem;
        display: flex;
        align-items: center;
        font-family:sans-serif;
        font-size: 20px;
        text-decoration: none;
        color:  rgba(245, 245, 247, 0.767);
        &--logo {
            margin: 0rem  2rem  0rem 2rem;
            margin-top: 19px;
        }
        &:hover{
            text-decoration: none;
            color: rgb(245, 245, 247);
        }
    }  
    &__tool{
        &--items{
            &--links{
                margin: 0rem  2rem  0rem 2rem;
                & a{
                    color: rgba(245, 245, 247, 0.767);
                    text-decoration: none;
                    list-style: none;
                    font-family:sans-serif;
                    font-size: 1rem;
                    font-weight: 200;
                    position: relative;
                    &:hover{
                        color: rgb(245, 245, 247);
                    }
                } 
            }
        }
    }
    &__search{
        
        &--icon{
            margin: 0rem  1rem  0rem 1rem;
            font-size: 25px;
            color: rgba(245, 245, 247, 0.767);   
            &:hover{
                color: rgb(245, 245, 247);
            }
        }
    }
    &__bag{
        max-height: 4.2vh;
        &--btn{
            margin: 0rem  1rem  0rem 1rem;
            background-color: transparent;
            border: none; 
            font-size: 25px;
            color: rgba(245, 245, 247, 0.767);   
            &--icon{
                &:hover{
                    color: rgb(245, 245, 247);
                }
            }
        }
    }
    &__user{
        max-height: 4.2vh;
        &--btn{
            margin: 0rem  1rem  0rem 1rem;
            background-color: transparent;
            border: none; 
            font-size: 30px;
            color: rgba(245, 245, 247, 0.767);   
            &--icon{
                &:hover{
                    color: rgb(245, 245, 247);
                }
            }
        }
    }
    &__toggle{
        &--btn{
            display: none;
            margin: 0rem  1rem  0rem 1rem;
            background-color: transparent;
            border: none; 
            font-size: 25px;
            color: rgba(245, 245, 247, 0.767); 
            &--icon{
                &:hover{
                    color: rgb(245, 245, 247);
                }
            }
        }
    }    
}
@include maxw(1023px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        opacity: 0;
    }
    .navbar__bag--btn{
        opacity: 0;
    }
    .navbar__search{
        opacity: 0;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
@include maxw(551px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        opacity: 0;
    }
    .navbar__search{
        opacity: 0;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
@include maxw(481px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        display: none;
    }
    .navbar__search{
        opacity: 0;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
@include maxw(410px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        display: none;
    }
    .navbar__search{
        display: none;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
@include maxw(352px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        display: none;
    }
    .navbar__search{
        display: none;
    }
    .darkmode{
        display: none;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
