.main__products{
    &--items{
        display: flex;
        background-color: darkgrey;
    }
    &--card{
        display: grid;
        align-items: center;
        padding: 1rem;
        
        
    }

}
   
   
