.main__products{
    &--items{
        display: flex;
    }
    &--card{
        display: grid;
        align-items: center;
        padding: 1rem;
        &--image{
            &-iphone{
                padding: 0rem 3rem 0rem 3rem;
                background-color: darkgrey;
            }
        }
    }

}
   
   
