.main{
    &___products{

        &--items{
            width: 100%;
        }
        &--card{
            padding: 10px;
            &--image{
                background-color: darkgray;
            }

        }
    }
   
}