.main{
    &___products{
        width: 100%;
        &--items{
            align-items: center;
            padding: 3rem;
        }
        &--card{
           &--image{
               background-color: darkgray;
           }

        }
    }
   
}