.main__products{
    &--items{
        display: flex;
    }
    &--card{
        display: grid;
        align-items: center;
        padding: 2rem;
        &--image{
            &-iphone{
                border-radius: 30px;
                padding: 2rem 3rem 1.1rem 3rem;
                background-color: rgb(84, 89, 95);
            }
            &-ipad{
                border-radius: 30px;
                padding: 2.5rem 3rem 5rem 3rem;
                background-color: rgb(84, 89, 95);
            }
            &-mac{
                border-radius: 30px;
                padding: 3.6rem 3rem 2.5rem 3rem;
                background-color: rgb(84, 89, 95);
            }
        }
    }

}
   
   
