.main{
    &___products{
        &--items{
            display: flex;
            width: 100%;
        }
        &--card{
            padding: 10px;
            &--image{
                background-color: darkgray;
            }

        }
    }
   
}