.main__products{
    &--items{
        display: flex;
    }
    &--card{
        display: grid;
        align-items: center;
        justify-items: center;
        padding: 2rem;
        position: relative;
        &--image{
            &-iphone{
                position: relative;
                border-radius: 30px;
                padding: 2rem 2rem 2rem 2rem;
                background-color: #F2F2F2;
                &:hover{
                    background-color:#ececec;
                }
            }
            &-ipad{
                position: relative;
                border-radius: 30px;
                margin:22px;
                padding: 2rem 2.5rem 2rem 2.5rem;
                background-color: #F2F2F2;
                &:hover{
                    background-color:#ececec;
                }
            }
            &-mac{
                position: relative;
                border-radius: 30px;
                padding: 3.7rem 3rem 3rem 3rem;
                background-color:#F2F2F2;
                &:hover{
                    background-color:#ececec;
                }
            }
        }
        &--title{
            margin: 30px;
            font-size: 25px;
            font-family: 'IBM',cursive;
            font-weight: bolder;
            text-decoration: none;
            color:  rgb(59, 59, 61);
            &:hover{
                text-decoration: none;
                color: rgba(59, 59, 61, 0.671);
            }
        }
    }

}
   
   
