.navbar {
    border-bottom:1px solid rgba(216, 214, 214, 0.486);
    box-shadow: 1px 1px rgba(216, 214, 214, 0.486);
    &__brand{ 
        display: flex;
        align-items: center;
        font-family: 'Oxanium',cursive;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }  
    &__search{
        max-height: 4.2vh;
        &--dropdown{
            position: relative;
            display: inline-block;
        }
        &--input{
            width: 300px;
        }
    }
    &__phone{
        text-decoration: none;
        &--icon{
            font-size: 25px;
            margin-top: 8px;
        }
        &--info {
            & h4{
                font-size: 17px;
                margin-bottom: 5px;
            }
            & h3{
                font-size: 20px;
            }
        }
    }
}
